<form>
  <p>{{localize 'FOURSTAT.Stress.Confirm' count=stressPool}}</p>
  <div class="form-group">
    <label>{{localize 'FOURSTAT.Willpower.SpendForStress'}}</label>
    {{#if canSpend}}
    <div class="willpower-spend-row">
      <input type="number" name="willpowerSpend" value="0" min="0" max="{{maxSpend}}" />
      <small>{{localize 'FOURSTAT.Willpower.Available'}}: {{willpower}} &nbsp;|&nbsp; {{localize 'FOURSTAT.Stress.TemporaryAvailable'}}: {{temporaryStress}}</small>
    </div>
    {{else}}
    <div class="willpower-spend-row">
      <input type="number" name="willpowerSpend" value="0" min="0" max="0" disabled />
      <small>{{localize 'FOURSTAT.Stress.WillpowerCannotSpend'}}</small>
    </div>
    {{/if}}
  </div>
</form>
